<div class="settings">
	<h1 class="settings__title">Settings</h1>
	<nav class="settings__nav">
		<ul>
			<li>
				<label for="language-select">Language:</label>

				<select name="language" id="language-select">
					<option value="ru">Русский</option>
					<option value="en">English</option>
				</select>
			</li>
			<li>
				<label for="first-player-select">First Player:</label>

				<select name="first-player" id="first-player-select">
					<option value="X">X</option>
					<option value="O">O</option>
				</select>
			</li>
			<li>
				<button id="soundButton">
					<svg>
						<use href="../../assets/svg/sound.svg"></use>
					</svg>
				</button>
			</li>
		</ul>
	</nav>
	<button class="settings__back-button button" id="backButton">Back</button>
</div>
